*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.old
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
*.uvguix*
*.scvd
*.ini
!/.settings/projcfg.ini
.sconsign.dblite
.vscode/
build/
Debug/
Listings/
Objects/
/packages/*
!/packages/SConscript
!/packages/pkgs.json
!/packages/pkgs_error.json
RTE/
__pycache__/
JLinkLog.txt
!/JLinkSettings.ini
